<!DOCTYPE html>
<html>
	
<head>
<title>Top</title>
<meta http-equiv="Content-Type"
content="text/html; charset=UTF-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link th:href="@{css/top.css}" rel="stylesheet" type="text/css" >
</head>

<body>
	
	<header>
	<div class="header-logo">
		<p>My Portfolio</p>
	</div>
	<button onclick="location.href='logout'" class="btn-white">ログアウト</button>
	</header>
	
	
<p>トップページ</p>

</body>

<footer>
	<p>portfolio site</p>
</footer>

</html>