<!DOCTYPE html>
<html>
	
<head>
<title>Top</title>
<meta http-equiv="Content-Type"
content="text/html; charset=UTF-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link th:href="@{css/top.css}" rel="stylesheet" type="text/css" >
</head>

<body>
	
	<header>
	<div class="header-logo">
		<p>My Portfolio</p>
	</div>
	<button onclick="location.href='logout'" class="btn-white">ログアウト</button>
	</header>
	
	<main>
	<div class="wrapper">
		<p>アカデミー花子</p>
	<div class="profile">
		<div class="content">
			<img src="">
			<p class="profile-title">自己紹介</p>
			<input type="text" class="profile-text">
			<button class="btn-blue">自己紹介を編集する</button>
		</div>
			
		</div>
	</div>
	</div>
	<div class="chart">
		<p class="chart-title">学習チャート</p>
		<button class="btn-blue">編集する</button>
	</div>
	</main>

</body>

<footer>
	<p>portfolio site</p>
</footer>

</html>